* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0b1c2d;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav li {
  cursor: pointer;
  transition: 0.3s;
}

nav li:hover,
nav .active {
  color: red;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background: url("assets/hero.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0b1c2d 40%, transparent);
}

.hero-content {
  position: relative;
  max-width: 600px;
  z-index: 2;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 25px;
  color: #ccc;
}

.btn {
  padding: 12px 25px;
  background: red;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

/* COUNTDOWN */
.countdown-container {
  position: absolute;
  bottom: 40px;
  right: 80px;
  display: flex;
  gap: 20px;
  z-index: 2;
}

.countdown-box {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  min-width: 90px;
}

.countdown-box span {
  font-size: 28px;
  font-weight: bold;
  color: red;
}

.countdown-box small {
  display: block;
  margin-top: 5px;
  color: #ccc;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  right: 20px;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 20;
}

.sidebar button {
  width: 50px;
  height: 50px;
  background: red;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

/* RESPONSIVE */
@media(max-width: 992px) {

  .hero h1 {
    font-size: 40px;
  }

  .countdown-container {
    right: 40px;
    gap: 10px;
  }
}

@media(max-width: 768px) {

  .navbar {
    padding: 20px;
  }

  nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #0b1c2d;
    width: 200px;
    display: none;
  }

  nav ul {
    flex-direction: column;
    padding: 20px;
  }

  .menu-toggle {
    display: block;
  }

  .hero {
    padding: 0 20px;
  }

  .countdown-container {
    position: relative;
    bottom: unset;
    right: unset;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sidebar {
    display: none;
  }
}
/* SCROLL ANIMATION */
.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.show-animate {
  opacity: 1;
  transform: translateY(0);
}